{
	"Title": "Neptune"
}

{{define "in"}}
<p><a href="/img/neptune/ARC-1989-A89-7045-orig.jpg">
	<img class="full" src="/img/neptune/ARC-1989-A89-7045-orig-small.jpg"
		alt="Website icon">
</a></p>

<p>Click to view the full-resolution image of the icon which I use for most
things. This image of Neptune's rings was made from two ten-minute exposures 1.5
hours apart. Voyager took this image in 1989 while 280,000 kilometers away from
Earth.</p>

<p>The official label is ARC-1989-A89-7045 (or PIA01997), and you can access it
<a href="https://photojournal.jpl.nasa.gov/catalog/PIA01997">here</a> (<a
href="https://web.archive.org/web/20170713143940/https://photojournal.jpl.nasa.gov/catalog/PIA01997">archive</a>),
or at the <a
href="https://images.nasa.gov/#/details-ARC-1989-A89-7045.html">NASA Image and
Video library archive</a>, and the full image <a
href="https://images-assets.nasa.gov/image/ARC-1989-A89-7045/ARC-1989-A89-7045~orig.jpg">here</a>
(<a
href="https://web.archive.org/web/20170609220734/https://images-assets.nasa.gov/image/ARC-1989-A89-7045/ARC-1989-A89-7045~orig.jpg">archive
1</a>, <a href="https://archive.is/Zu1FX">archive 2</a>).  Below are three more
Neptune-related images taken by Voyager 2, found <a
href="https://voyager.jpl.nasa.gov/imagesvideo/neptune.html">here</a> (<a
href="https://web.archive.org/web/20170619211430/https://voyager.jpl.nasa.gov/imagesvideo/neptune.html">archive</a>).</p></p>

<figure>
	<img class="full" src="/img/neptune/darkspot.jpg">
	<figcaption class="center">An image of Neptune's <a
	href="https://en.wikipedia.org/wiki/Great_Dark_Spot">Great Dark
	Spot</a>.</figcaption>
</figure>

<figure>
	<img class="full" src="/img/neptune/neptunex.jpg">
	<figcaption class="center">An entire side of Neptune.</figcaption>
</figure>

<figure>
	<img class="full" src="/img/neptune/triton.jpg">
	<figcaption class="center">An image of Neptune's moon <a
	href="https://en.wikipedia.org/wiki/Triton_(moon)">Triton</a>.</figcaption>
</figure>
{{end}}
