{
	"Title": "pong",
	"Desc": "digital tennis game",
	"Badges": [
		{"Name": "c", "Style": "c"},
		{"Name": "mdoc", "Style":"mdoc"}
	]
}

{{define "in"}}
<img class="full" src="/img/pong/pong.png"
	alt="an image of the game on a normal-sized terminal">
{{end}}
