@font-face {
	font-family: 'Roboto';
	font-display: swap;
	src: url(../font/roboto.woff2) format('woff2');
	unicode-range: U+0000-00FF;
}

body {
	margin-left: auto;
	margin-right: auto;
	padding: 0 10px;
	max-width: 750px;
	font-family: 'Roboto', sans-serif;
	font-size: 125%;
	background-color: #eee;
	color: black;
}

h1 {
	text-decoration: underline;
}

li {
	line-height: 130%;
}

img.center {
	max-width: 75%;
	display: block;
	margin: 1rem auto;
}

figcaption {
	text-align: center;
}
