{
	"Title": "fft",
	"Desc": "implementation of the fast Fourier transform algorithm",
	"Badges": [
		{"Name": "c", "Style": "c"},
		{"Name": "lib", "Style": "pkg"},
		{"Name": "mdoc", "Style": "mdoc"}
	]
}
