{
	"Title": "chat",
	"Desc": "room-based chat server",
	"Badges": [
		{"Name": "go", "Style": "go"}
	]
}

{{define "in"}}
<p class="center links">
	[<a href="https://chat.esote.net">chat.esote.net</a>]
</p>
<p>Room-based chat server. Rooms are pruned when they are unused for a certain
duration. The chat will automatically refresh itself each second, but if you
wish to disable JS (I don't blame you), you can manually refresh the page.</p>
{{end}}
