{
	"Title": "opal",
	"Desc": "OPAL is a rogue-like dungeon crawler",
	"Badges": [
		{"Name": "c++", "Style": "cpp"},
		{"Name": "lex", "Style": "lex"},
		{"Name": "mdoc", "Style": "mdoc"},
		{"Name": "yacc", "Style": "yacc"}
	]
}

{{define "in"}}
<img class="full" src="/img/opal/opal.png"
	alt="an image of the dungeon floor and player combat">
{{end}}
